<div class="body2">
  <app-header></app-header>
    <div class="container text-center" style="margin-top: 50px;">
      <form action="">
          <div class="card" style="width: 100%">
              <div class="card-body">
                  <h4 class="card-title">Choose your interests (at least 2)</h4>
              </div>
              <div class="row">
                  <div class="col-sm-10 offset-sm-1">
                      <table class="table no-border table-responsive-sm" style="margin-left: 5rem !important">
                          <thead class="text-justify">
                              <tr>
                                  <th colspan="2">Private</th>
                                  <th colspan="2">Public</th>
                                  <th colspan="2">Corporate</th>
                              </tr>
                          </thead>
                          <tbody class="text-left">
                              <tr>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name=" art" id="art" value="checkedValue" />
                                          <div class="state  p-primary-o p-on text-right">
                                              <i class="fa fa-users fa-2x"></i>
                                          </div>
                                          <div class="state p-off text-right">
                                              <i class="fa fa-users fa-2x"></i>

                                          </div>
                                      </div>
                                  </td>
                                  <td>
                                      <label for="art">Family Gathering</label>
                                  </td>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name=" " id="bball" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="fa fa-birthday-cake fa-2x"></i>
                                          </div>
                                          <div class="state p-off">
                                              <i class="fa fa-birthday-cake fa-2x"></i>

                                          </div>
                                      </div>
                                  </td>
                                  <td><label for="bbal">Birthday</label></td>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="fraising" id="fraising" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="fas fa-box fa-2x"></i>
                                          </div>
                                          <div class="state p-off">
                                              <i class="fa fa-box fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td><label for="fraising">Lunch</label></td>
                              </tr>
                              <tr>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="fitness" id="fitness" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="fas fa-bicycle fa-2x"></i>

                                          </div>
                                          <div class="state p-off">
                                              <i class="fas fa-bicycle fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td> <label for="fitness">Fitness </label></td>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="football" id="football" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="fas fa-bicycle fa-2x"></i>

                                          </div>
                                          <div class="state p-off">
                                              <i class="fas fa-bicycle fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td><label for="football">football </label></td>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="Networking" id="Networking" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="fas fa-bicycle fa-2x"></i>

                                          </div>
                                          <div class="state p-off">
                                              <i class="fas fa-bicycle fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td><label for="Networking">Networking </label></td>
                              </tr>
                              <tr>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="humor" id="humor" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="far fa-smile fa-2x"></i>

                                          </div>
                                          <div class="state p-off">
                                              <i class="far fa-smile fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td> <label for="humor">Humor </label></td>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="Cycling" id="Cycling" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="far fa-smile fa-2x"></i>

                                          </div>
                                          <div class="state p-off">
                                              <i class="far fa-smile fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td><label for="Cycling">Cycling </label></td>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="Conferences" id="Conferences" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="far fa-smile fa-2x"></i>

                                          </div>
                                          <div class="state p-off">
                                              <i class="far fa-smile fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td><label for="Conferences">Conferences </label></td>
                              </tr>
                              <tr>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="Fashion" id="Fashion" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="fas fa-tshirt fa-2x"></i>
                                          </div>
                                          <div class="state p-off">
                                              <i class="fas fa-tshirt fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td> <label for="Fashion">Fashion </label></td>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="Weightlifting" id="Weightlifting" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="fas fa-tshirt fa-2x"></i>
                                          </div>
                                          <div class="state p-off">
                                              <i class="fas fa-tshirt fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td> <label for="Weightlifting">Weightlifting </label></td>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="Weightlifting2" id="Weightlifting2" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="fas fa-tshirt fa-2x"></i>
                                          </div>
                                          <div class="state p-off">
                                              <i class="fas fa-tshirt fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td> <label for="Weightlifting2">Weightlifting </label></td>
                              </tr>
                              <tr>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="Festivals" id="Festivals" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="fas fa-glass-cheers fa-2x"></i>
                                          </div>
                                          <div class="state p-off">
                                              <i class="fas fa-glass-cheers fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td> <label for="Festivals">Festivals </label></td>
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" name="Surfing" id="Surfing" value="checkedValue" />
                                          <div class="state  p-primary-o p-on">
                                              <i class="fas fa-glass-cheers fa-2x"></i>
                                          </div>
                                          <div class="state p-off">
                                              <i class="fas fa-glass-cheers fa-2x"></i>
                                          </div>
                                      </div>
                                  </td>
                                  <td> <label for="Surfing">Surfing </label></td>
                                  <td>

                                  </td>
                                  <td> </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>




              <div class="card-footer">
                  <a href="home.html">
                      <button type="button" class="btn btn-primary">Get Started</button>
                  </a>
              </div>
          </div>

      </form>
    </div>
</div>
