<div class="body2">
  <app-header></app-header>
    <div class="container text-center" style="margin-top: 50px;">
      <form  #interest = "ngForm" (ngSubmit) = "interest.form.valid && onClickSubmit(interest.value)" >
          <div class="card" style="width: 100%">
              <div class="card-body">
                  <h4 class="card-title">Choose your interests (at least 2)</h4>
              </div>
              <div class="row">
                  <div class="col-sm-10 offset-sm-1">
                      <table class="table no-border table-responsive-sm" style="margin-left: 5rem !important">
                          <thead class="text-justify">
                              <!-- <tr>
                                  <th colspan="2">Private</th>
                                  <th colspan="2">Public</th>
                                  <th colspan="2">Corporate</th>
                              </tr> -->
                          </thead>
                          <tbody class="text-left">
                              <tr *ngFor="let interest of interests">
                                  <td style="width:50px;">
                                      <div class="pretty p-icon p-toggle p-plain">
                                          <input type="checkbox" [name]="interest.interestTitle" [id]="interest._id"  value="checkedValue"
                                          ngModel/>
                                          <div class="state  p-primary-o p-on text-right">
                                              <i [ngClass]="interest.interestIcon"></i>
                                          </div>
                                          <div class="state p-off text-right">
                                              <i [ngClass]="interest.interestIcon"></i>

                                          </div>
                                      </div>
                                  </td>
                                  <td>
                                      <label [for]="interest._id" style="cursor: pointer;"> {{ interest.interestTitle }} </label>
                                  </td>
                                  <td> {{interest.interestDescription}} </td>

                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="card-footer">
                <input type="submit" class="btn btn-primary" value="Get Started">
              </div>
          </div>

      </form>
    </div>
</div>
