<footer class=" ">
    <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
                <span class="navbar-toggler-icon "></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent ">
                <ul class="navbar-nav mr-auto ">

                    <li class="nav-item ">
                        <a class="nav-link " href="about.html">About</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="privacy.html">Pivacy Policy</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="termsIn.html ">Terms of Use</a>
                    </li>

                </ul>
                <span style="margin-right: 15px; "> &copy; Copyright 2019. All Rights Reserved</span>
                <!-- <a href=""><img src="assets/img//android.jpg " style="margin-right: 10px; " width="150px " height="40px " alt=" "></a>
                <a href=""> <img src="assets/img//ios.jpg " alt=" " width="150px " height="40px "></a> -->
            </div>
        </nav>
    </div>
</footer>
