
            <div class="modal-header">
                <h5 class="modal-title d-inline">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <div class="row  pl-3">
                                    <div class="col-md-2">
                                        <img src="assets/img/image.png" alt="" class=" rounded-circle mt-1" width="50px" height="50px">
                                    </div>
                                    <div class="col-md-9 ">
                                        <h6 class="m-0 d-inline"><a href="">Andreas Perriera</a> <span style="font-size: 12px !important" class=" p-0 m-0 text-black-50">Yesterday at 20:56</span></h6>
                                        <p style="font-size: 12px !important" class="">That's right</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row  pl-3">
                                    <div class="col-md-2">
                                        <img src="assets/img/image.png" alt="" class=" rounded-circle mt-1" width="50px" height="50px">
                                    </div>
                                    <div class="col-md-9 ">
                                        <h6 class="m-0 d-inline"><a href="">Andreas Perriera</a> <span style="font-size: 12px !important" class=" p-0 m-0 text-black-50">Yesterday at 20:56</span></h6>
                                        <p style="font-size: 12px !important" class="">That's right</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row  pl-3">
                                    <div class="col-md-2 mt-1">
                                        <img src="assets/img/image.png" alt="" style="border-radius: 50%" width="50px" height="50px">
                                    </div>
                                    <div class="col-md-9 ">
                                        <h6 class="m-0 d-inline"><a href="">Oshodi Olakunbi</a> <span class=" p-0 m-0 text-black-50" style="font-size: 12px !important">Yesterday at 19:06</span></h6>
                                        <p style="font-size: 12px !important">Hmmm!, strange event</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row  pl-3">
                                    <div class="col-md-2 mt-1">
                                        <img src="assets/img/image.png" alt="" style="border-radius: 50%" width="50px" height="50px">
                                    </div>
                                    <div class="col-md-9 ">
                                        <h6 class="m-0 d-inline"><a href="">Adewale Adetona</a> <span class=" p-0 m-0 text-black-50" style="font-size: 12px !important">Yesterday at 19:06</span></h6>
                                        <p style="font-size: 12px !important">I'm not sure the event will be interesting</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row  pl-3">
                                    <div class="col-md-2 mt-1">
                                        <img src="assets/img/image.png" alt="" style="border-radius: 50%" width="50px" height="50px">
                                    </div>
                                    <div class="col-md-9 ">
                                        <h6 class="m-0 d-inline"><a href="">Adewale Adetona</a> <span class=" p-0 m-0 text-black-50" style="font-size: 12px !important">Yesterday at 19:06</span></h6>
                                        <p style="font-size: 12px !important">I'm not sure the event will be interesting</p>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="">
                <div class="row border-top pt-0 pl-5  pb-2" style="overflow-x: hidden !important">
                    <div class="col-md-2 mt-1"><img src="assets/img/image.png" alt="" style="border-radius: 50%" width="50px" height="50px"></div>
                    <div class="col-md-9 ">
                        <h6 class="m-0 d-inline"><a href="">Me</a> <span class=" p-0 m-0 text-black-50" style="font-size: 12px !important"> Now</span></h6>
                        <form action="">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
