<div class="body2">
  <app-home-header></app-home-header>
  <section class="container bodycontainer mb-5 pb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            Advertisement
          </div>
        </div>
        <div class="card  mb-4">
         <div class="row p-0 m-0">
           <div class="col-md-3 col-sm-12">
              <img [src]="events.eventUrl" class="imgEv2" alt="" srcset="">
           </div>
           <div class="col-md-9 col-sm-12">
             <div class="row mb-3 mb-md-0">
               <div class="col-md-9">
                  <h4 class="ml-3  mt-2"> {{ events.eventName }} </h4>
               </div>
               <div class="col-md-3 pt-2">
                  <div *ngIf="showEdit;then editDelete else registerBtn"></div>
                  <ng-template #editDelete>
                    <div class="button-group" role="group" aria-label="Basic example">
                        <button type="button"  class="btn btn-warning btn-sm "  (click)="editEvent(edit)">
                            <i class="fa fa-pen" aria-hidden="true"></i> Edit
                        </button>
                        <button type="button" class="btn  btn-danger btn-sm " (click)="getConfirmation(events._id)">
                            <i class="fa fa-trash " aria-hidden="true"></i> Delete
                        </button>
                    </div>

                  </ng-template>
                  <ng-template #registerBtn>
                      <a name="" id="" class="btn btn-sm btn-primary btn-block" (click)="join(register)" role="button">Register</a>
                  </ng-template>



               </div>
             </div>

              <div class="row">
                <div class="col-sm-3">
                    <span class="labels">Time</span>
                </div>
                <div class="col-sm-9">
                    <p><i class="far fa-clock" style="padding-right: 5px;"> </i> {{ events.startDate| date : 'EEEE, MMMM d, y' }} at {{ events.time  }} <span class="font8" style="padding-left: 15px;"> <a href=""> <i class="fa fa-plus"></i> Add to calender</a></span></p>
                </div>

                <div class="col-sm-3">
                    <span class="labels">Venue</span>
                </div>
                <div class="col-sm-9">
                    <p><i class="fas fa-map-marker-alt" style="padding-right: 5px;"></i> {{ events.address }} </p>
                </div>
                <div class="col-sm-3">
                    <span class="labels">Created By</span>

                </div>
                <div class="col-sm-9">
                  <p><i class="fas fa-user" style="padding-right: 5px;"></i>   <a href=""><span *ngFor="let org of organizer"> {{org.username}} </span></a> in <a> {{ events.category }} </a></p>
                </div>
              </div>
              <div class="row d-sm-block d-md-none">
                  <!-- <div class="col-md-4 ">
                    <div class=" mb-3 ">
                      <a name="social" id="" href="#" class="btn btn-facebook btn-sm   border-round" ngbPopover="Share on Facebook" triggers="mouseenter:mouseleave" popoverTitle="Facebook" > <i class="fab fa-facebook" aria-hidden="true"></i> </a>
                      <a ngbPopover="Share on Twitter" triggers="mouseenter:mouseleave" popoverTitle="Twitter" name="" id="" class="btn btn-twitter btn-sm  border-round" href="#" role="button"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
                      <a ngbPopover="Share on GooglePlus" triggers="mouseenter:mouseleave" popoverTitle="Google Plus" name="" id="" class="btn btn-google btn-sm  border-round" href="#" role="button"><i class="fab fa-google" aria-hidden="true"></i> </a>
                      <a ngbPopover="Share on LinkedIn" triggers="mouseenter:mouseleave" popoverTitle="LinkedIn" name="" id="" class="btn btn-twitter btn-sm  border-round" href="#" role="button"><i class="fab fa-linkedin" aria-hidden="true"></i> </a>
                      <a ngbPopover="Share on Instagram" triggers="mouseenter:mouseleave" popoverTitle="Instagram" name="" id="" class="btn btn-google btn-sm  border-round" href="#" role="button"><i class="fab fa-instagram" aria-hidden="true"></i> </a>

                    </div>
                  </div> -->
                  <div class="col-3 pl-1">
                    <div class=" mb-3">

                      <a  class="btn btn-secondary btn-sm " (click)="open(content)">
                          Comments
                      </a>

                    </div>
                  </div>
                  <div class="col-3 pl-2">
                    <div class=" mb-3">

                      <a  class="btn btn-secondary btn-sm " (click)="map(OpenMap)">
                           <i class="fa fa-map-marker" aria-hidden="true"></i> Map
                      </a>

                    </div>
                  </div>
                    <div class="col-4 p-0">
                        <div class=" mb-3">

                                <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="tooltip"  data-placement="top" title="Like">
                                    <i class="fa fa-thumbs-up  text-primary" aria-hidden="true"></i>
                                </button>


                                <button class="btn btn-outline-warning btn-sm" type="button" (click)="pinEvent(pin)"   ngbPopover="Pin this Event to your Board" triggers="mouseenter:mouseleave" popoverTitle="Pin Event" container="body">
                                    <i class="fas fa-thumbtack" aria-hidden="true"></i>
                                </button>


                                <button class="btn btn-outline-secondary btn-sm" type="button"  ngbPopover="Follow the Event Organizer" triggers="mouseenter:mouseleave" popoverTitle="Follow" container="body">
                                    <i class="far fa-hand-point-right" aria-hidden="true"></i>
                                </button>

                        </div>
                    </div>
                    <div class="col-1">
                        <div class="mb-3">
                            <button class="btn btn-outline-secondary btn-sm " data-toggle="modal" data-target="#locateId"  ngbPopover="Viw the event location on the map" triggers="mouseenter:mouseleave" popoverTitle="Location" container="body">
                                <i class="fas fa-map-marker-alt"></i>
                            </button>

                        </div>
                    </div>
                </div>

           </div>
         </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-8 col-md-6">
            <div class="card">
              <div class="card-body">
                <img [src]="events.eventUrl" class="" alt="" srcset="">
                  <h4 class=""> {{ events.eventName }} </h4>
                  <h6 class=""> {{ events.shortDes }} </h6>
                  <div class="text-justify" style="font-size: .9rem !important"> {{ events.fullDes }} </div>
                  <div class=" mb-3 mt-3 text-right">
                    <a name="social" id="" href="#" class="btn btn-facebook btn-sm   border-round" ngbPopover="Share on Facebook" triggers="mouseenter:mouseleave" popoverTitle="Facebook" > <i class="fab fa-facebook" aria-hidden="true"></i> </a>
                    <a ngbPopover="Share on Twitter" triggers="mouseenter:mouseleave" popoverTitle="Twitter" name="" id="" class="btn btn-twitter btn-sm  border-round" href="#" role="button"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
                    <a ngbPopover="Share on GooglePlus" triggers="mouseenter:mouseleave" popoverTitle="Google Plus" name="" id="" class="btn btn-google btn-sm  border-round" href="#" role="button"><i class="fab fa-google" aria-hidden="true"></i> </a>
                    <a ngbPopover="Share on LinkedIn" triggers="mouseenter:mouseleave" popoverTitle="LinkedIn" name="" id="" class="btn btn-twitter btn-sm  border-round" href="#" role="button"><i class="fab fa-linkedin" aria-hidden="true"></i> </a>
                    <a ngbPopover="Share on Instagram" triggers="mouseenter:mouseleave" popoverTitle="Instagram" name="" id="" class="btn btn-google btn-sm  border-round" href="#" role="button"><i class="fab fa-instagram" aria-hidden="true"></i> </a>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-none d-sm-none d-md-block">
            <div class="card">
              <agm-map [latitude]="location?.lat" [longitude]="location?.lng" [zoom]="7">
                <agm-marker [latitude]="location?.lat" [longitude]="location?.lng">
                </agm-marker>
              </agm-map>
            </div>
            <br>
            <div class="card">
              <div class="">
                <div class="comments">
                  <h5 class="pt-2 pl-2">Comments</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <div *ngFor="let comment of (comments | orderBy:'created_dt': reverse)">
                                <div class="row  pl-3">
                                    <div class="col-md-2">
                                        <img src="assets/img/image.png" alt="" class=" rounded-circle mt-1" width="50px" height="50px">
                                    </div>
                                    <div class="col-md-9 ">
                                        <h6 class="m-0 d-inline" ><a href=""> {{comment.authorName}} </a> <span style="font-size: 12px !important" class=" p-0 m-0 text-black-50"> {{ comment.created_dt | date: 'MMM dd' }}  at  {{ comment.created_dt | date: 'HH mm' }} </span></h6>
                                        <p style="font-size: 12px !important" class=""> {{comment.text}} </p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row p-2" style="overflow-x: hidden !important">
                        <div class="col-md-12">
                            <h6 class="m-0 d-inline"><a href="">Me</a> <span class=" p-0 m-0 text-black-50" style="font-size: 12px !important"> Now</span></h6>
                            <form #comment="ngForm" (ngSubmit)="comment.valid && onSubmit(comment)">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="text" placeholder="Enter your comment here" required #text="ngModel"  [(ngModel)]="model.text"
                                    [ngClass]="{'invalid-textbox' :comment.submitted && !text.valid }">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>





      </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Event Gallery</h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3  pb-3">
                            <div class="card card-pin">
                                <img class="card-img" src="assets/img/event.jpg" alt="Card image">
                                <div class="overlay pt-3">
                                    <div class="text-center mt-5 pt-2">
                                        <form action="" class="d-inline text-center">
                                            <!-- <button type="submit" class="btn btn-warning p-3 rounded-circle mr-2" data-toggle="tooltip" data-placement="top" title="Save">
                                                        <i class="far fa-save" style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button> -->
                                            <button type="submit" class="btn btn-danger p-3 rounded-circle mr-2" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="fas fa-trash" style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button>
                                        </form>
                                        <form action="" class="d-inline text-center">
                                            <!-- <button type="submit" class="btn btn-info p-3 rounded-circle" data-toggle="tooltip" data-placement="top" title="Like">
                                                        <i class="far fa-thumbs-up " style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button> -->
                                            <button type="submit" class="btn btn-danger p-3 rounded-circle" data-toggle="tooltip" data-placement="top" title="Dislike">
                                                        <i class="far fa-thumbs-down " style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3  pb-3">
                            <div class="card card-pin">
                                <img class="card-img" src="assets/img/event2.jpg" alt="Card image">
                                <div class="overlay pt-3">
                                    <div class="text-center mt-5 pt-2">
                                        <form action="" class="d-inline text-center">
                                            <button type="submit" class="btn btn-warning p-3 rounded-circle mr-2" data-toggle="tooltip" data-placement="top" title="Save">
                                                        <i class="far fa-save" style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button>
                                            <!-- <button type="submit" class="btn btn-danger p-3 rounded-circle mr-2" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="fas fa-trash" style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button> -->
                                        </form>
                                        <form action="" class="d-inline text-center">
                                            <!-- <button type="submit" class="btn btn-info p-3 rounded-circle" data-toggle="tooltip" data-placement="top" title="Like">
                                                        <i class="far fa-thumbs-up " style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button> -->
                                            <button type="submit" class="btn btn-info p-3 rounded-circle" data-toggle="tooltip" data-placement="top" title="Like">
                                                        <i class="far fa-thumbs-up " style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3  pb-3">
                            <div class="card card-pin">
                                <img class="card-img" src="assets/img/event3.jpg" alt="Card image">
                                <div class="overlay pt-3">
                                    <div class="text-center mt-5 pt-2">
                                        <form action="" class="d-inline text-center">
                                            <!-- <button type="submit" class="btn btn-warning p-3 rounded-circle mr-2" data-toggle="tooltip" data-placement="top" title="Save">
                                                        <i class="far fa-save" style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button> -->
                                            <button type="submit" class="btn btn-danger p-3 rounded-circle mr-2" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="fas fa-trash" style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button>
                                        </form>
                                        <form action="" class="d-inline text-center">
                                            <button type="submit" class="btn btn-danger p-3 rounded-circle" data-toggle="tooltip" data-placement="top" title="Dislike">
                                                        <i class="far fa-thumbs-down " style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button>
                                            <!-- <button type="submit" class="btn btn-danger p-3 rounded-circle" data-toggle="tooltip" data-placement="top" title="Dislike">
                                                        <i class="far fa-thumbs-down " style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button> -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3  pb-3">
                            <div class="card card-pin">
                                <img class="card-img" src="assets/img/event1.jpg" alt="Card image">
                                <div class="overlay pt-3">
                                    <div class="text-center mt-5 pt-2" style="padding-left: 30%">
                                        <form action="" class="form-inline text-center">
                                            <button type="submit" class="btn btn-warning p-3 rounded-circle mr-2" title="Save">
                                                        <i class="far fa-save" style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button>
                                            <button type="submit" class="btn btn-info p-3 rounded-circle" title="Like">
                                                        <i class="far fa-thumbs-up " style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button>
                                            <!-- <button type="submit" class="btn btn-danger p-3 rounded-circle">
                                                        <i class="far fa-thumbs-down " style="font-size: 1.5em !important; margin: -2px;"></i>
                                                    </button> -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
  </section>
  <app-home-footer></app-home-footer>
</div>

<ng-template #OpenMap let-modal>
  <div class="modal-header">
      <h5 class="modal-title d-inline"> {{events.address}} </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
  <div class="modal-body">
      <div class="card">
          <agm-map [latitude]="location?.lat" [longitude]="location?.lng" [zoom]="7">
            <agm-marker [latitude]="location?.lat" [longitude]="location?.lng">
            </agm-marker>
          </agm-map>
        </div>
  </div>

</ng-template>

<ng-template #content let-modal>

    <div class="modal-header">
        <h5 class="modal-title d-inline">Comments</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div *ngFor="let comment of (comments | orderBy:'created_dt': reverse)">
                        <div class="row  pl-3">
                            <div class="col-md-2">
                                <img src="assets/img/image.png" alt="" class=" rounded-circle mt-1" width="50px" height="50px">
                            </div>
                            <div class="col-md-9 ">
                                <h6 class="m-0 d-inline" ><a href=""> {{comment.authorName}} </a> <span style="font-size: 12px !important" class=" p-0 m-0 text-black-50"> {{ comment.created_dt | date: 'MMM dd' }}  at  {{ comment.created_dt | date: 'HH mm' }} </span></h6>
                                <p style="font-size: 12px !important" class=""> {{comment.text}} </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="">
        <div class="row border-top pt-0 pl-5  pb-2" style="overflow-x: hidden !important">
            <div class="col-md-2 mt-1"><img src="assets/img/image.png" alt="" style="border-radius: 50%" width="50px" height="50px"></div>
            <div class="col-md-9 ">
                <h6 class="m-0 d-inline"><a href="">Me</a> <span class=" p-0 m-0 text-black-50" style="font-size: 12px !important"> Now</span></h6>
                <form #comment="ngForm" (ngSubmit)="comment.valid && onSubmit(comment)">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="text" placeholder="Enter your comment here" required #text="ngModel"  [(ngModel)]="model.text"
                        [ngClass]="{'invalid-textbox' :comment.submitted && !text.valid }">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #edit let-modal>
    <form  [formGroup]="form" (ngSubmit)="onClickSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">Edit Event</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container text-justify">
                <p *ngIf="percentDone"><ngb-progressbar type="success" [value]="percentDone" [striped]="true">{{ percentDone }}</ngb-progressbar></p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="eventName">Name</label>
                            <input type="text" class="form-control" name="eventName" [value]="events.eventName"
                            placeholder="Event Name"
                            formControlName="eventName" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group mb-0">
                            <label for="board">Select Board</label>
                            <select class="custom-select" name="board"
                              formControlName="board">
                                <option *ngFor="let board of boards" [value]="board._id"> {{ board.boardName }} </option>
                            </select>
                        </div>
                        <span class="font9"><a style="cursor: pointer;" (click)="openBoardModal()">Or create New Board</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label>Upload Image</label>
                          <div class="input-group">
                            <span class="btn btn-primary">
                              <input type="file" class="form-control" (change)="uploadFile($event)" required>
                            </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" name="address" [value]="events.address"  placeholder="234 Madisson Avenue, New York city"  formControlName="address">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sdate">Start Date</label>
                            <input type="date" name="startDate" max="2030-12-31" min="2010-01-01" class="form-control"
                              formControlName="startDate" [value]="events.startDate"
                            >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fdate">Finish Date</label>
                            <input type="date" name="finishDate" max="2030-12-31" min="2010-01-01" class="form-control"
                            formControlName="finishDate" [value]="events.finishDate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="collaborators">Event Time</label>
                            <input type="time" name="time"  class="form-control" formControlName="time" [value]="events.time">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="custom-select" name="status" id="status" formControlName="status">
                                    <option selected>Select one</option>
                                    <option value="Hidden">Hidden</option>
                                    <option value="Public">Public</option>
                                </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sdesc">Short Description</label>
                            <input type="text" class="form-control" name="shortDes" [value]="events.shortDes" placeholder="Short Description" formControlName="shortDes">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="category">Category</label>
                            <select class="custom-select" name="category" id="category" formControlName="category">
                                <option selected="">Choose Category</option>
                                <option value="Music">Music</option>
                                <option value="Sport">Sport</option>
                                <option value="Technology">Technology</option>
                                <option value="Education">Education</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label for="fdesc">Full Description</label>
                        <textarea name="fullDes" class="form-control" [value]="events.fullDes"  rows="2" placeholder="Full description" formControlName="fullDes"></textarea>
                    </div>
                </div>


            </div>
        </div>


        <div class="modal-footer">
          <input type="submit" class="btn btn-primary btn-sm" value="Edit Event" [disabled]="!form.valid">
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="modal.close('Close click')">Close</button>
        </div>

      </form>
</ng-template>

<ng-template #pin let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Pin Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #pin="ngForm" (ngSubmit)="pin.valid && submitPin(pin)">
    <div class="modal-body">
      <div class="container-fluid">
        <div class="form-group mb-0">
          <label for="board">Select Board</label>
          <select class="custom-select" name="boardId" #boardId="ngModel"  [(ngModel)]="boardModel.boardId">
              <option *ngFor="let board of boards" [value]="board._id"> {{ board.boardName }} </option>
          </select>
      </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button class="btn btn-primary" type="submit" >
               Pin To Board
        </button>
    </div>
  </form>

</ng-template>

<ng-template #register let-modal>
  <div style="background: #f1f3f6;">
      <div class="modal-header bg-white">
          <h5>Attendee Details</h5>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #join="ngForm" (ngSubmit)="join.valid && joinEvent(join)">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 text-left">
                <p>{{ events.eventName }}</p>
              </div>
              <div class="col-sm-4 text-right">
                <p><i class="far fa-clock"></i> {{ events.startDate| date }} {{ events.time }} </p>
              </div>
            </div>
            <div class="col-md-12 bg-white pb-2 pt-2 rounded">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                    class="form-control " name="name" #name="ngModel"  [(ngModel)]="joinModel.name" placeholder="Attendee's Name">
              </div>
              <div class="form-group">
                <label for="email">Name</label>
                <input type="email"
                    class="form-control" name="email" #email="ngModel"  [(ngModel)]="joinModel.email" placeholder="Attendee's email">
              </div>
            </div>
            <br>
            <div class="text-center">
                <span class="font9">I accept the <a target="_blank" >Terms of Service</a> and have read the <a target="_blank" >Privacy Policy</a>.</span>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="col-md-8 offset-md-2">
                <button class="btn btn-primary btn-block" type="submit" >
                  Register
                </button>
            </div>
          </div>

        </div>
      </form>
  </div>

</ng-template>
