<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/event']" >
          <img src="assets/img/logo.png" width="160px" height="40px" alt="">
      </a>
      <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <div class="form-inline my-2 my-lg-0 ml-3">
                  <i class="fa fa-search " aria-hidden="true "></i>
                  <input class="form-control mr-sm-2 border-0" type="text" placeholder="Search Event">
              </div>
          </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="createEvent()" style="cursor: pointer;">Create Event </a>
            </li>
          <li class="nav-item megamenu" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
              Categories
            </a>
            <!-- <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
            </div> -->
            <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu border-0 p-0 m-0">
                <div class="container">
                    <div class="row bg-white rounded-0 m-0 shadow-sm">
                        <div class="col-md-12 ">
                            <div class="p-4">
                                <div class="row">
                                    <div class="col-lg-4 mb-4">
                                        <h6 class="font-weight-bold text-uppercase">Corporate Events</h6>
                                        <ul class="list-unstyled">
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0">Unique Features</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 mb-4">
                                        <h6 class="font-weight-bold text-uppercase">Private Events</h6>
                                        <ul class="list-unstyled">
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 mb-4">
                                        <h6 class="font-weight-bold text-uppercase">Personal Events</h6>
                                        <ul class="list-unstyled">
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 mb-4">
                                        <h6 class="font-weight-bold text-uppercase">Public Events</h6>
                                        <ul class="list-unstyled">
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          </li>

          <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdown id="navbarDropdown2" role="button">
                <i class="fa fa-bell" aria-hidden="true"></i> <span class="badge badge-pill badge-primary">2</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
            </div>
          </li>

          <li class="nav-item megamenu" ngbDropdown >
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button">
                <img src="assets/img/profile.png" width="40px" height="40px" style="border-radius: 50%" alt="" srcset="">
            </a>
            <!-- <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
            </div> -->
            <div ngbDropdownMenu class="dropdown-menu border-0 p-0 m-0" aria-labelledby="navbarDropdown3">
                <div class="container">
                    <div class="row bg-white rounded-0 m-0 shadow-lg">
                        <a class="dropdown-items" [routerLink]="['/profile']" routerLinkActive="disabled"
                        [routerLinkActiveOptions]="{ exact:true }">
                            <span class="p-2 bg-custom text-primary rounded-circle mr-2">
                                <i class="fas fa-user" aria-hidden="true"></i>
                            </span>
                            <span class="pt-2 ml-2">My profile</span>
                        </a>
                        <a class="dropdown-items" href="editprofile.html">
                            <span class="p-2 bg-custom text-primary rounded-circle mr-2">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </span>
                            <span class="pt-2 ml-2">Account Settings</span>
                        </a>
                        <a class="dropdown-items" href="">
                            <span class="p-2 bg-custom text-primary rounded-circle mr-2">
                                    <i class="far fa-user" aria-hidden="true"></i>
                                </span>
                            <span class="pt-2 ml-2">Switch to Business</span>
                        </a>
                        <a class="dropdown-items" href="profile-business.html">
                            <span class="p-2 bg-custom text-primary rounded-circle mr-2">
                                        <i class="fas fa-users" aria-hidden="true"></i>
                                    </span>
                            <span class="pt-2 ml-2">Create Business Profile</span>
                        </a>
                        <a class="dropdown-items" (click)="logout()" style="cursor: pointer;">
                            <span class="p-2 bg-custom text-primary rounded-circle mr-2">
                                        <i class="fas fa-sign-out-alt"></i>
                                </span>
                            <span class="pt-2 ml-2">Logout</span>
                        </a>

                    </div>
                </div>

            </div>
          </li>
        </ul>
      </div>
  </div>

</nav>
