.body2 {
  background: #eaeced;
  margin-bottom: 100px;
  font-size: 1rem !important;
  /* font-family: Lato, Helvetica, sans-serif !important; */
  font-family: Cardo, serif !important;
  min-height: 100vh;
  /* padding-top: 70px; */
}
