<div class="body2">
  <app-home-header></app-home-header>
  <section class="mt-5 mb-5">
      <div class="container">
          <div class="row">
              <div class="card-columns p-2">
                  <div class="card card-pin">
                      <div class="card m-0">
                          <img class="card-img-top" src="assets/img/eventbanner.jpg" alt="Card image">
                          <div class="price">
                              <h2 class="d-inline"><span class="badge badge-default ">Free</span></h2>
                          </div>
                          <div class="overlay">
                              <div class="price">
                                  <h2 class="d-inline"><span class="badge badge-default ">Free</span></h2>
                              </div>
                              <div class="text-center">

                                  <div class="d-inline   check">
                                      <a href="#" class="cover " data-placement="top " title="Pin " data-toggle="modal" data-target="#pinModal">
                                          <span class="p-3 bg-custom text-primary rounded-circle ">
                                                  <i class="fas fa-thumbtack " style="font-size: 1.5em !important; margin: -2px; "></i>
                                              </span>
                                      </a>
                                  </div>

                              </div>
                          </div>
                      </div>

                      <div class=" pt-2 pb-2 pl-2 bg-light border">
                          <div class="row">
                              <div class="col-md-3 text-center p-0">
                                  <div class="bg-custom2 ml-3 mr-3 rounded p-2 shadow-sm">
                                      <h5 class="text-primary">NOV</h5>
                                      <h5>01</h5>
                                  </div>

                              </div>
                              <div class="col-md-9">
                                  <h5 class="text-black"><a href="eventDetail.html" class="text-black">2019 National Business Conference</a> </h5>
                                  <p class="font9 m-0">Saturday, 10:00am</p>
                                  <p class="font9 m-0">Eko Hotels & Suites, Lagos, LA</p>
                                  <p class="font9 m-0">&nbsp;</p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="card card-pin">
                      <div class="card m-0">
                          <img class="card-img-top" src="assets/img/eventbanner4.jpg" alt="Card image">
                          <div class="price">
                              <h2 class="d-inline"><span class="badge badge-default ">Free</span></h2>
                          </div>
                          <div class="overlay">
                              <div class="price">
                                  <h2 class="d-inline"><span class="badge badge-default ">Free</span></h2>
                              </div>
                              <div class="text-center">

                                  <div class="d-inline   check">
                                      <a href="#" class="cover " data-placement="top " title="Pin " data-toggle="modal" data-target="#pinModal">
                                          <span class="p-3 bg-custom text-primary rounded-circle ">
                                                      <i class="fas fa-thumbtack " style="font-size: 1.5em !important; margin: -2px; "></i>
                                                  </span>
                                      </a>
                                  </div>

                              </div>
                          </div>
                      </div>

                      <div class=" pt-2 pb-2 pl-2 bg-light border">
                          <div class="row">
                              <div class="col-md-3 text-center p-0">
                                  <div class="bg-custom2 ml-3 mr-3 rounded p-2 shadow-sm">
                                      <h5 class="text-primary">OCT</h5>
                                      <h5>03</h5>
                                  </div>

                              </div>
                              <div class="col-md-9">
                                  <h5 class="text-black"><a href="eventDetail.html" class="text-black">2019 Cyberchain Conference</a> </h5>
                                  <p class="font9 m-0">Thursday, 8:00am</p>
                                  <p class="font9 m-0">Eko Hotels & Suites, Lagos, LA</p>
                                  <p class="font9 m-0">&nbsp;</p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="card-pin">
                      <div class="card">
                          <img src="assets/img/ads.jpg" alt="" width="100%" srcset="">
                      </div>
                  </div>

                  <div class="card card-pin">
                      <div class="card m-0">
                          <img class="card-img-top" src="assets/img/eventbanner3.jpg" alt="Card image">
                          <div class="price">
                              <h2 class="d-inline"><span class="badge badge-default ">Free</span></h2>
                          </div>
                          <div class="overlay">
                              <div class="price">
                                  <h2 class="d-inline"><span class="badge badge-default ">Free</span></h2>
                              </div>
                              <div class="text-center">

                                  <div class="d-inline   check">
                                      <a href="#" class="cover " data-placement="top " title="Pin " data-toggle="modal" data-target="#pinModal">
                                          <span class="p-3 bg-custom text-primary rounded-circle ">
                                                  <i class="fas fa-thumbtack " style="font-size: 1.5em !important; margin: -2px; "></i>
                                              </span>
                                      </a>
                                  </div>

                              </div>
                          </div>
                      </div>

                      <div class=" pt-2 pb-2 pl-2 bg-light border">
                          <div class="row">
                              <div class="col-md-3 text-center p-0">
                                  <div class="bg-custom2 ml-3 mr-3 rounded p-2 shadow-sm">
                                      <h5 class="text-primary">NOV</h5>
                                      <h5>22</h5>
                                  </div>

                              </div>
                              <div class="col-md-9">
                                  <h5 class="text-black"><a href="eventDetail.html" class="text-black">Best of Worship (BOW) 8</a> </h5>
                                  <p class="font9 m-0">Sunday, 12:00pm</p>
                                  <p class="font9 m-0">Eko Hotels & Suites, Lagos, LA</p>
                                  <p class="font9 m-0">&nbsp;</p>
                              </div>
                          </div>
                      </div>
                  </div>
                   <div class="card-pin">
                      <div class="card">
                          <img src="assets/img/adss.jpg" alt="" width="100%" srcset="">
                      </div>
                  </div>

                  <div class="card card-pin">
                      <div class="card m-0">
                          <img class="card-img-top" src="assets/img/eventbanner2.jpg" alt="Card image">
                          <div class="price">
                              <h2 class="d-inline"><span class="badge badge-default ">Free</span></h2>
                          </div>
                          <div class="overlay">
                              <div class="price">
                                  <h2 class="d-inline"><span class="badge badge-default ">Free</span></h2>
                              </div>
                              <div class="text-center">

                                  <div class="d-inline   check">
                                      <a href="#" class="cover " data-placement="top " title="Pin " data-toggle="modal" data-target="#pinModal">
                                          <span class="p-3 bg-custom text-primary rounded-circle ">
                                                      <i class="fas fa-thumbtack " style="font-size: 1.5em !important; margin: -2px; "></i>
                                                  </span>
                                      </a>
                                  </div>

                              </div>
                          </div>
                      </div>

                      <div class=" pt-2 pb-2 pl-2 bg-light border">
                          <div class="row">
                              <div class="col-md-3 text-center p-0">
                                  <div class="bg-custom2 ml-3 mr-3 rounded p-2 shadow-sm">
                                      <h5 class="text-primary">NOV</h5>
                                      <h5>13</h5>
                                  </div>

                              </div>
                              <div class="col-md-9">
                                  <h5 class="text-black"><a href="eventDetail.html" class="text-black">Lagos Expo 2019: Fashion</a> </h5>
                                  <p class="font9 m-0">Saturday, 8:00am</p>
                                  <p class="font9 m-0">Eko Hotels & Suites, Lagos, LA</p>
                                  <p class="font9 m-0">&nbsp;</p>
                              </div>
                          </div>
                      </div>
                  </div>



                  <div class="card card-pin">
                      <div class="card m-0">
                          <img class="card-img-top" src="assets/img/eventbanner5.jpg" alt="Card image">
                          <div class="price">
                              <h2 class="d-inline"><span class="badge badge-default ">Free</span></h2>
                          </div>
                          <div class="overlay">
                              <div class="price">
                                  <h2 class="d-inline"><span class="badge badge-default ">Free</span></h2>
                              </div>
                              <div class="text-center">

                                  <div class="d-inline   check">
                                      <a href="#" class="cover " data-placement="top " title="Pin " data-toggle="modal" data-target="#pinModal">
                                          <span class="p-3 bg-custom text-primary rounded-circle ">
                                                  <i class="fas fa-thumbtack " style="font-size: 1.5em !important; margin: -2px; "></i>
                                              </span>
                                      </a>
                                  </div>

                              </div>
                          </div>
                      </div>

                      <div class=" pt-2 pb-2 pl-2 bg-light border">
                          <div class="row">
                              <div class="col-md-3 text-center p-0">
                                  <div class="bg-custom2 ml-3 mr-3 rounded p-2 shadow-sm">
                                      <h5 class="text-primary">NOV</h5>
                                      <h5>15</h5>
                                  </div>

                              </div>
                              <div class="col-md-9 pl-0">
                                  <h5 class="text-black"><a href="eventDetail.html" class="text-black">AFRICA YOUTH LEADERSHIP & ENTREPRENEURSHIP CONFERENCE/EXHIBITION/AWARDS</a> </h5>
                                  <p class="font9 m-0">Monday, 8:00am</p>
                                  <p class="font9 m-0">Eko Hotels & Suites, Lagos, LA</p>
                                  <p class="font9 m-0">&nbsp;</p>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </section>
</div>
